---
const links = [
  { name: 'GitHub', url: 'https://github.com/svetkis' },
  { name: 'Habr', url: 'https://habr.com/ru/users/svetkis/articles/' },
  { name: 'LinkedIn', url: 'https://www.linkedin.com/in/svetlana-meleshkina/' },
  { name: 'Substack', url: 'https://substack.com/@lanaapps' },
];
---

<div class="socials-cta">
  <a class="btn" href="https://t.me/svetkis" target="_blank" rel="noopener">Написать в Telegram</a>
  <a class="btn btn-outline" href="https://t.me/kot_review" target="_blank" rel="noopener">Подписаться на канал</a>
</div>

<div class="socials socials-secondary">
  {links.map((link) => (
    <a href={link.url} target="_blank" rel="noopener">{link.name}</a>
  ))}
</div>
