---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<div class="youtube">
  <iframe
    src={`https://www.youtube-nocookie.com/embed/${id}`}
    title={title}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    loading="lazy"
  ></iframe>
</div>
